{% extends "base.html" %}
{% load staticfiles %}

{% block stylecss %}
    <link href="{% static 'css/index.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/header.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/footer.css'%}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block javascripts %}
{% endblock %}


{% block header %}
{% endblock header%}


{% block content %}

    <p>
        ITA SoftServe
    </p>

{% endblock content %}


{% block footer %}

    <footer class="footer">
        <div class="container">
        </div>
    </footer>

{% endblock footer %}